* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main {
    height: 100%;
    width: 100%;
    padding: 2vw;
    display: flex;
    margin: 7.5vw 4vw;
    overflow: hidden;
    /* font-family: cursive; */
}

#left {
    height: 80%;
    width: 45%;
    /* font-family: cursive; */
    /* background-color: blue; */
}

#left h4 {
    font-size: 4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

#color {
    margin-top: 4.5vw;
}

#color {
    margin-top: 4.5vw;
    display: flex;
    align-items: center;
    /* background: blue; */
    border-radius: 20px;

    border: 2px solid rgb(47, 46, 46);
    padding: 8px;
    width: fit-content;

}

#color h3 {
    /* margin-top: 4.5vw; */
    font-weight: 500;
    font-family: cursive;

}

#colors {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    gap: 1vw;
}

.color1 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
}

.color2 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(57, 187, 18);
}

#bottom-p {
    margin-top: 3vw;
    width: 60%;
}

#bottom-p p {
    font-family: cursive;

}

#right {
    height: 80%;
    width: 45%;
    background-color: red;
}